<center>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <li> </li>
      </h1>
    </section>
  </aside>
</center>
</div>
