<!DOCTYPE html>
<html>
<head>
	<title>SGP - Sistema Gerenciador de Processos</title>
</head>
<body>
	<center>
		<h1> SGP - Sistema Gerenciador de Processos </h1>
		<h3>
		  <%= link_to "Novo? Registre-se!", "signup" %>
		  <%= link_to "Logar", "signin" %>
		</h3>
	</center>
</body>
</html>
