<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Os icones das funcionalidades podem ser mudados, procurar icones no site
			https://fortawesome.github.io/Font-Awesome/icons/
	-->
    <div class="container">

	   <div class="row">
                <div class="jumbotron">
                <center>
                <h3> SGP - Sistema Gerenciador de Processos </h3>
                <p class="text-muted"> A forma mais simples de gerenciar processos </p>
            </center>
                </div>   
        </div>
    
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-file-text wow bounceIn text-primary"></i>
                        <h3>Fácil controle de versionamento</h3>
                        <p class="text-muted">Membros cadastrados podem fazer upload de arquivos referentes à atividade em questão, fazendo assim um controle de documentação já vinculado a sua respectiva atividade no processo.  </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Controle do andamento do processo</h3>
                        <p class="text-muted">O administrador gera o cronograma do processo, referente as deadlines que o mesmo delegou quando cadastrou as tarefas das atividades do processo.  </p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Facilidade no gerenciamento de atividades</h3>
                        <p class="text-muted">Funcionários podem visualizar as tarefas pessoais que lhe foram destinadas para que o mesmo possa ter um melhor controle e consiga aumentar sua produtividade apenas visualizando seus afazeres.  </p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Gerencie mais de um processo ao mesmo tempo</h3>
                        <p class="text-muted">Criação de processos personalizados para que o administrador do sistema possa usufruir de todo o poder que a ferramenta lhe oferece. </p>
                    </div>
                </div>
            </div>
        </div>
	
</body>
</html>
