<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Os icones das funcionalidades podem ser mudados, procurar icones no site
			https://fortawesome.github.io/Font-Awesome/icons/
	-->
	<center>
	<h3> SGP - Sistema Gerenciador de Processos </h3>
	<br><br><br><br>
	<div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                        <h3>Funcionalidade 1</h3>
                        <p class="text-muted">Descrição da funcionalidade 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin lacus ante, vitae accumsan libero auctor eu. Sed dignissim erat nec hendrerit congue. Quisque sit amet purus consequat, gravida nunc dapibus, porta est. Nam vel eros imperdiet, pharetra enim dignissim, fringilla nisl</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-apple wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Funcionalidade 2</h3>
                        <p class="text-muted">Descrição da Funcionalidade 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin lacus ante, vitae accumsan libero auctor eu. Sed dignissim erat nec hendrerit congue. Quisque sit amet purus consequat, gravida nunc dapibus, porta est. Nam vel eros imperdiet, pharetra enim dignissim, fringilla nisl</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Funcionalidade 3</h3>
                        <p class="text-muted">Descrição da Funcionalidade 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin lacus ante, vitae accumsan libero auctor eu. Sed dignissim erat nec hendrerit congue. Quisque sit amet purus consequat, gravida nunc dapibus, porta est. Nam vel eros imperdiet, pharetra enim dignissim, fringilla nisl</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Funcionalidade 4</h3>
                        <p class="text-muted">Descrição da Funcionalidade 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin lacus ante, vitae accumsan libero auctor eu. Sed dignissim erat nec hendrerit congue. Quisque sit amet purus consequat, gravida nunc dapibus, porta est. Nam vel eros imperdiet, pharetra enim dignissim, fringilla nisl</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
		<h3>
		  <%= link_to "Novo? Registre-se!", "signup" %>
		</h3>
	</center>
</body>
</html>
