<!DOCTYPE html>
<% # link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css" %>
<html>
<center>
<h1> SGP - Sistema Gerenciador de Processos </h1>
<h3>
  <%= link_to "Novo? Registre-se!", "signup" %>
  <%= link_to "Logar", "signin" %>
</h3>
</html>
