<!DOCTYPE html>
<html>
<center>

<img src="/stormwind.jpg" alt="Tim Berners-Lee" />


<h1><%= link_to "Deslogar", 'rpg/logout'%>
	<%= current_user.email %>
<%= link_to "Deslogar", "/home/logout" %>
  <tr> </tr>
</h1>
</center>
</html>